*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

#content {
    text-align: center;
}

#header {
    padding: 4rem;
    border-bottom: 2px solid black;
    font-size: 5rem;
}

#scoreboard {
    display: flex;
    justify-content: center;
}

#player-score,
#computer-score {
    padding: 2rem 2rem .5rem 2rem;
    width: 15rem;
}

#player-choice,
#computer-choice {
  height: 5rem;
  width: 5rem;
  margin: auto;
  line-height: 5rem;
  font-size: 3rem;
}

#buttons {
  display: inline-block;
}

#rock-button,
#paper-button,
#scissors-button {
  cursor: pointer;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  font-size: 10rem;
  margin: 1rem;
}